.banner{
    background-image: url(../img/banner.svg);
    background-size: cover;
    background-position: center;
    padding: 93px 0;
}

.banner--texto{
    font-family: 'Calistoga';
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: var(--branco);
    text-align: center;
}