.data{
    padding: 32px 24px;
    text-align: center;
}

.data--img{
    border-radius: 16px;
}

.data--titulo{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--branco);
    padding: 24px 0;
}

.data--dias::before{
    content: "< ";
}

.data--dias::after{
    content: " >";
}

.data--texto{
    font-weight: 500;
    color: var(--branco);
    margin-bottom: 24px;
}

.data--botao{
    background-color: var(--boreal-roxo);
    color: var(--branco);
    line-height: 40px;
    font-weight: 700;
    padding: 15px 38px;
    box-shadow: 4px 4px 0px #444444;
    border-radius: 16px;
    height: 56px;
}

.data--botao::after{
    content: url(../img/comprar_ingressos_icon.svg);
    margin-left: 16px;
    position: relative;
    top: 4px;
}