.lineup{
    text-align: center;
    color: var(--branco);
    margin: 32px 0;
}

.lineup--titulo{
    font-family: 'Calistoga';
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    margin-bottom: 32px;
}

.lineup--titulo::before{
    content: "/";
}

.lineup--titulo::after{
    content: "/";
}

.lineup--dia{
    font-family: 'Calistoga';
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    padding: 16px;
    background-color: var(--boreal-verde-escuro);
    display: inline-block;
    margin-bottom: 48px;
    text-transform: uppercase;
}

.lineup-lista{
    padding: 48px 24px;
    font-family: 'Raleway';
}

.lineup-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.lineup-lista-grupo{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.lineup-grupo1{
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
}

.lineup-grupo2{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.lineup-grupo3{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.lineup-grupo4{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}